<a href="https://colab.research.google.com/github/Oziel-Rojas5/daa_2021_1/blob/master/23octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2
ejemplo7_2( 3 )

450


T(n) = 1 + 25n^2 +25n^2

O(n) = n^2

In [5]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

T(n) = 1 + n

O(n) = n

In [6]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

10

T(n) = 3+2

O(n) = n

In [8]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count

print(ejemplo10(5))

15

T(n) = 1 + (n^2+n)/ 2